body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.wrapper {
    display: flex; /* Adiciona o display flex */
    flex-direction: column; /* Alinha os filhos em coluna */
    align-items: center; /* Centraliza horizontalmente os filhos */
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    min-height: 480px;    
}

.wrapper h2 {
    align-self: center;
    width: 300px;
    text-align: center;
}

.Wrapper-Screen {
    height: 40px; 
    width: 80%;
    margin: 0;
    border: 1px solid #000;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 40px; 
}

.Wrapper-Screen p {
    font-size: 30px;
    margin: 0; 
}
.Wrapper-Btns{
    padding-top: 25px;
    
}

.Wrapper-Btns button{
    width: 55px; 
    font-size: 40px;
    height: 60px; 
    margin: 4px;
    border-radius: 3px;
}