body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-color: #f4f4f4; /* Para dar contraste com os elementos */
    gap: 20px; /* Espaçamento entre calculadora e nav */
}

.wrapper {
    display: flex; /* Adiciona o display flex */
    flex-direction: column; /* Alinha os filhos em coluna */
    align-items: center; /* Centraliza horizontalmente os filhos */
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    min-height: 480px;    
    justify-content: center;
    position: relative;
    height: fit-content;
}

.wrapper h2 {
    align-self: center;
    width: 300px;
    text-align: center;
}

.Wrapper-Screen {
    height: 40px; 
    width: 80%;
    margin: 0;
    border: 1px solid #000;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 40px; 
}

.Wrapper-Screen p {
    font-size: 30px;
    margin: 0; 
}
.Wrapper-Btns{
    padding-top: 25px;
    
}

.Wrapper-Btns button{
    width: 55px; 
    font-size: 40px;
    height: 60px; 
    margin: 4px;
    border-radius: 3px;
}
nav{
    border: 1px solid #000;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    height: fit-content; 
    position: absolute; 
    top: 25%; 
    right: 0;
    transform: translateY(-50%);
    visibility: hidden; 
    user-select: none;
    transition: .5s;
}
nav.active {
    background-color: #fff;
    transform: translateY(-50%); /* Ajusta para centralização vertical */
    visibility: visible;
    user-select: all;
    right: 10%;
}

nav table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

nav th, nav td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

nav th {
    background-color: #f0f0f0;
    text-align: center;
}

.Log-btn{
    position: absolute;
    background-color: #f4f4f4;
    top: 3%;
    right: 10%;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    transition: .4s;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.Log-btn:hover{
    background-color: black;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    
}